* {
  margin: 0;
  padding: 0;
}

header {
  background: black;
  padding: 30px;
}
body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: rgb(155, 89, 216);
}

nav li {
  margin-left: 30%;
  display: table;
  padding: 0.5rem;
  text-align: justify;
}

nav a {
  text-transform: uppercase;
  color: rgb(83, 2, 107);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(184, 68, 87);
  text-decoration: underline;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 80px 0 0 0;
  height: 50px;
  text-align: center;
  background-color: black;
  color: blueviolet;
}
