* {
  margin: 0;
  padding: 0;
}

/*-- cadastro de clientes --*/

.section-container {
  width: 100%;
  background-color: rgb(150, 123, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.p {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: antiquewhite;
  margin-bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
  padding: 25px;
  max-width: 450px;
}
form {
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(65, 61, 61);
}
input {
  display: grid;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgb(247, 207, 214);
  color: rgb(65, 61, 61);
  font-weight: bold;
  font-size: 1.3rem;
}

.enviar {
  margin-top: 20px;
}
.enviar:hover {
  background: rgb(179, 93, 107);
  transform: scale(1.2);
}

a {
  font-size: 20px;
  font-weight: bold;
  color: pink;
}

footer {
  height: 50px;
  text-align: center;
  background-color: rgb(150, 123, 123);
  color: pink;
}
